.page-wrapper {
  display: block;
  padding: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.controls-container {
  position: absolute;
  width: 100%;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.5);
}

.controls {
  padding: 0.2em;
}

#scene-params {
  margin-left: 1em;
}

.canvas-container {
  height: 100%;
  position: relative;
  z-index: 1;
}

canvas {
  display: block;
  padding: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
